<div class="panel panel-info">
  <div class="panel-heading">
    <center>
      <h1>Dashboard</h1>
      <h3></h3>
    </center>
  </div>
  <div class="panel-body">


    <div class="col-md-4">
      <%= render "layouts/groups" %>
    </div>

    <div class="col-md-8">
      <ul class="list-group">
        <li class="list-group-item"><h4>TRAINS ABOUT TO LEAVE</h4></li>
        <li class="list-group-item"><%= link_to "Pizza Train - Turing 1409", "#", class: "btn" %></li>
        <li class="list-group-item"><%= link_to "Web Design Train - Turing 1408", "#", class: "btn" %></li>
      </ul>
    </div>


  </div>
</div>
