<ul class="list-group" style="float:left;width:30%;">
  <li class="list-group-item active">Current Trains</li>
  <li class="list-group-item">Pizza Train</li>
  <li class="list-group-item">Yolo Train</li>
</ul>

<div style="float:right;margin-right:100px;">
  <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Sign up and make a group!</a><br>
  <a href="#" class="btn btn-default">Sign up and join a group!</a>
</div>
<div style="clear:both;"></div>
