<% if flash.any? %>
  <div class="splash-window splash-window-flash">
    <%= render partial: "layouts/flash" %>
  </div>
<% end %>
<div class="splash-window splash-window-main">
  <h1>Food Train: The happiest place on Earth</h1>
  <li><%= link_to "Sign in with twits", "/auth/twitter", class: "btn btn-lg btn-default" %></li>
</div>
