<% if flash.any? %>
  <div class="splash-window splash-window-flash">
    <%= render partial: "layouts/flash" %>
  </div>
<% end %>
<div class="splash-window splash-window-main">
  <h1>Food Train</h1>
  <h2>Clever Tagline</h2>
  <%= link_to "Sign in with Twitter", "/auth/twitter", class: "btn btn-lg btn-default", id: "log-in" %>
</div>
  
