img.backwards {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.header-container {
  margin: 20px 40px;
}

.vote-item {
  text-decoration: none !important; /* DEAL WITH IT */
  color: black !important; /* DEAL WITH IT */
  display: block;
  padding: 10px 15px;
}

.vote-item:hover {
  background-color: #eee;
}

.vote-item:active {
  background-color: yellow;
}

.vote-item-a a{
  text-decoration: none;
}

.vote-group-item {
  padding: 0 !important;
}


h1 {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  font-size: 50px;
  line-height: 65px;
}

body {
  font-family: 'Vollkorn', Georgia, Times, serif;
  font-size: 16px;
  line-height: 25px;
}

.flash-messages {
  /*margin-top: 100px;*/
  width: 100%;
  text-align: center;
  color: black;
  z-index: 1;
}

.image-splash {
  z-index: -1;
  margin-top: -93px;
  background: url("/assets/train-tracks.jpg") no-repeat center center fixed;
  height: 1024px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.splash-window {
  background: rgba(255,255,255,0.5);
  text-align: center;
  border-radius: 30px;
}

.splash-window-flash {
  width: 15%;
  margin: 150px 100px;
  padding: 5px;
  text-align: right;
  float: left;
}

.splash-window-main {
  padding: 20px;
  /*margin: 300px 400px;*/
  margin: 300px auto;
  width: 40%
}
